<div class="container">
  <div class="panel panel-primary">
    <div class="panel-heading">Liste des salles:</div>
    <div class="panel-body">
      <form #f="ngForm" (ngSubmit)="onChercher(f.value)">
        <div class="form-group">
<label>Keyword :</label><input type="text" name="keyword" ngModel placeholder="par Désignation">
          <button class="btn btn-primary" type="submit"><span class="glyphicon glyphicon-search"></span>
            Chercher
          </button>
        </div>
      </form>
      <table *ngIf="salles" class="table table-striped">
        <tr>
          <th>ID</th>
          <th>Photo</th>
          <th>Nom</th>
          <th>Designation</th>
          <th>Capacité</th>

        </tr>
        <tr *ngFor="let s of salles._embedded.salles">
          <td>{{s.id}}</td>
          <td><img height="75px" src="{{this.RoomsService.host+'/photoSalle/'+s.id}}"/></td>
          <td>{{s.nom}}</td>
          <td>{{s.designation}}</td>
          <td>{{s.capacite}}</td>
          <td><a class="btn btn-danger" (click)="onDeleteSalle(s)"><span class="glyphicon glyphicon-remove"></span> Supprimer</a></td>
          <td><a class="btn btn-success" (click)="onEditSalle(s)"><span class="glyphicon glyphicon-edit"></span> Modiffier</a></td>
          <td><a class="btn btn-primary" (click)="onReserveSalle(s)"><span class="glyphicon glyphicon-ok"> Reserver</span></a></td>
        </tr>
      </table>
      <ul  *ngIf="pages" class="nav nav-pills">
        <li class="clickable" [ngClass]="i==currentPage?'active':''" *ngFor="let p of pages;let i=index">
<a (click)="onPageSalle(i)">{{i}}</a>
      </li>
      </ul>
    </div>
  </div>
</div>
