<div class="container">

  <h2 class="mb-5">Liste des salles:</h2>
  <div id="tab">
    <div class="panel-body">
      <form #f="ngForm" (ngSubmit)="onChercher(f.value)">
        <div class="form-group">
<label>Keyword :</label><input type="text" name="keyword" ngModel placeholder="par Désignation">
          <button style="margin-left: 15px" class="btn btn-info" type="submit"><span class="glyphicon glyphicon-search"></span>
            Chercher
          </button>
        </div>
      </form>
      <div class="content">

        <div class="table-responsive">
      <table *ngIf="salles" class="table table-striped">
       <thead> <tr>
          <th>ID</th>
          <th>Photo</th>
          <th>Nom</th>
          <th>Designation</th>
          <th>Capacité</th>

        </tr></thead> <tbody>
        <tr *ngFor="let s of salles._embedded.salles">
          <td>{{s.id}}</td>
          <td><img height="75px" src="{{this.RoomsService.host+'/photoSalle/'+s.id}}"/></td>
          <td>{{s.nom}}</td>
          <td>{{s.designation}}</td>
          <td>{{s.capacite}}</td>
          <td *ngIf="authenticationservice.isAdmin()"><a class="button-34" (click)="onDeleteSalle(s)"><span class="glyphicon glyphicon-trash"></span> Supprimer</a></td>
          <td *ngIf="authenticationservice.isAdmin()"><a class="button-33" (click)="onEditSalle(s)"><span class="glyphicon glyphicon-edit"></span> Modiffier</a></td>
          <td><a class="button-32" (click)="onReserveSalle(s)"><span class="glyphicon glyphicon-ok"> Reserver</span></a></td>
        </tr></tbody>
      </table>
      <ul  *ngIf="pages" class="nav nav-tabs nav-pills-primary justify-content-start  nav-pills-just-icons">
        <li class="clickable" [ngClass]="i==currentPage?'active':''" *ngFor="let p of pages;let i=index">
<a (click)="onPageSalle(i)">{{i}}</a>
      </li>
      </ul>
    </div>
  </div>
    </div></div></div>
